<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="GoogleAdsApi" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<GoogleAdsApi>
		<add key="DeveloperToken" value="ecjr-iwYKJO7QnefE4aTZw"/>


		<add key="OAuth2Mode" value="APPLICATION" />
		<add key="OAuth2ClientId" value="836588509124-2gkjht3fnqa478d1f9esa15o8t995a6u.apps.googleusercontent.com" />
		<add key="OAuth2ClientSecret" value="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" />
		<add key="OAuth2RefreshToken" value="1//04eunJz1-gnFJCgYIARAAGAQSNwF-L9Ir452324Hgtm3Q2bErWGT9507be8JzkFPDrjh5lk3xh65qBhvDLmYzJ54Yk-PtT67Ndr8" />
		<add key="LoginCustomerId" value="4025158903" />
	</GoogleAdsApi>

</configuration>
   